<ion-view view-title="Group Settings">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.groupSettingOne">
        Request Access
    </ion-toggle>
    <ion-toggle  ng-model="settings.groupSettingTwo">
        Free Reign
    </ion-toggle>
    <ion-toggle  ng-model="settings.groupSettingThree">
        A Setting
    </ion-toggle>
    </ion-list>
    <br>
    <div style="text-align: center;">
      <button class="button button-calm" style="position: middle;" ng-click="addGroup()">
        <p style="color: white; font-weight: bold; font-size: 30px; margin-bottom: 5px;">Create</p>
      </button>
    </div>
  </ion-content>
</ion-view>