<ion-view view-title="Queue Settings">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.settingOne">
        Setting 1
    </ion-toggle>
    <ion-toggle  ng-model="settings.settingTwo">
        Setting 2
    </ion-toggle>
    <ion-toggle  ng-model="settings.settingThree">
        Setting 3
    </ion-toggle>
    </ion-list>
    <br>
    <div style="text-align: center;">
      <button class="button button-calm" style="position: middle;" ng-click="add()">
        <p style="color: white; font-weight: bold; font-size: 30px; margin-bottom: 5px;">Create</p>
      </button>
    </div>
  </ion-content>
</ion-view>