<ion-view view-title="Group Settings">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.groupSettingOne">
        Setting 1
    </ion-toggle>
    <ion-toggle  ng-model="settings.groupSettingTwo">
        Setting 2
    </ion-toggle>
    <ion-toggle  ng-model="settings.groupSettingThree">
        Setting 3
    </ion-toggle>
    </ion-list>
    <br>
    <div style="text-align: center;">
      <button class="button button-calm" style="position: middle;" ng-click="addGroup()">
        <p style="color: white; font-weight: bold; font-size: 30px; margin-bottom: 5px;">Create</p>
      </button>
    </div>
  </ion-content>
</ion-view>